---
:production:
  :access_token: <%= access_token %>
  :tmp_dir: 'tmp'
:development:
  :access_token: <%= access_token %>
  :tmp_dir: 'tmp'
:test:
  :access_token: <%= access_token %>
  :tmp_dir: 'tmp'
